#header {
    color: teal;
    text-align: center;
    font-size: 50px;
}

#buttons {
    display: flex;
    justify-content: center;
    margin-right: 70px;
    position: fixed;
    top: 100px;
    left: 35%;
}

#hide-h1 {
    height: 40px;
    margin: 20px;
    margin-left: 100px;
    background-color: crimson;
    color: white;
}

#unhide-h1 {
    height: 40px;
    margin: 20px;
    margin-left: 100px;
    background-color: forestgreen;
    color: white;
}